version: "3.9"

networks:
  web:
    driver: bridge

services:
  traefik:
    image: traefik:v3.0
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--api.dashboard=true"
      - "--api.insecure=true"
    ports:
      - "8081:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - web

  fastapi:
    build: ./app
    expose:
      - 8000

    labels:
      - "traefik.enable=true"
      - "traefik.http.services.fastapi.loadbalancer.server.port=8000"
      - "traefik.http.routers.fastapi.rule=Host(`localhost`)"
        #- "traefik.http.routers.fastapi.rule=PathPrefix(`/`)"
    networks:
      - web

