version: "3.8"

services:
  traefik:
    image: traefik:latest
    container_name: traefik
    networks:
      - web
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - ./acme.json:/acme.json
    restart: always

networks:
  web:
    external: true
