name: Deploy to Cloud Run (OIDC)

on:
  push:
    branches:
      - fastapi-in-cloudrun

env:
  PROJECT_ID: "project-9e6b8a1b-ac7b-4870-993"
  PROJECT_NUMBER: "909234899256"
  AR_REPO: "cloud-run-source-deploy"
  CLOUD_RUN_SERVICE: "github-cloudrun-deployer"
  CLOUD_RUN_REGION: "asia-south2"
  # Use the exact resource name format
  WIP: "projects/909234899256/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
  SA_EMAIL: "github-oidc@project-9e6b8a1b-ac7b-4870-993.iam.gserviceaccount.com"

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: ${{ env.WIP }}
          service_account: ${{ env.SA_EMAIL }}

      - name: Set up gcloud
